/* src/components/Dashboard.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9fafa;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  background: rgb(109, 103, 156);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #000702;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color:  #000702;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0e5a24;
}

.logout-btn {
  background-color: #d9534f;
  margin-top: 15px;
}

.logout-btn:hover {
  background-color: #c9302c;
}